.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.chart-container {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.button-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  gap: 20px; /* Espaço entre os botões */
  margin-top: 20px; /* Margem superior para afastar dos outros elementos */
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.button-container .btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}

.button-container .btn-primary:hover {
  transform: scale(1.05);
  background-color: var(--secondary-color);
}

.button-container .btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
}

.button-container .btn-secondary:hover {
  transform: scale(1.05);
  background-color: var(--primary-color);
}

.modal-content {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 25px;
  border: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.modal-header {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
}

.modal-header .btn-close {
  color: var(--text-color);
  opacity: 0.8;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.modal-header .btn-close:hover {
  color: var(--danger-color);
  opacity: 1;
}

.modal-body {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-footer .btn {
  padding: 10px 24px;
  font-weight: bold;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.modal-footer .btn-secondary {
  background-color: var(--secondary-color);
  border: none;
  color: #ffffff;
}

.modal-footer .btn-secondary:hover {
  background-color: var(--secondary-color-light);
  transform: scale(1.05);
}

.modal-footer .btn-primary {
  background-color: var(--primary-color);
  border: none;
  color: #ffffff;
}

.modal-footer .btn-primary:hover {
  background-color: var(--secondary-color-light);
  transform: scale(1.05);
}

.modal-footer .btn-danger {
  background-color: var(--danger-color);
  border: none;
  color: #ffffff;
}

.modal-footer .btn-danger:hover {
  background-color: #b0003a;
  transform: scale(1.05);
}

.modal-input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 35px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-input:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.modal-select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 35px;
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-select:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 12px 0;
}

.color-picker label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: var(--text-color);
}

.color-picker input[type="color"] {
  width: 80px;
  height: 60px;
  cursor: pointer;
  margin-top: 5px;
  border: none;
  background: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .dashboard-page h1 {
    font-size: 2rem;
  }

  .chart-container {
    height: 300px;
    margin-bottom: 20px;
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
  }

  .modal-input,
  .modal-select {
    font-size: 14px;
    padding: 12px;
  }

  .modal-footer .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .dashboard-page h1 {
    font-size: 1.8rem;
  }

  .chart-container {
    height: 250px;
  }

  .modal-input,
  .modal-select {
    font-size: 12px;
    padding: 10px;
  }

  .modal-footer .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}
