:root {
  --primary-color-light: #6a0dad;
  --secondary-color-light: #250059;
  --background-color-light: #f1f1f1;
  --text-color-light: #000000;
  --danger-color-light: #c21858;

  --primary-color-dark: #e91663;
  --secondary-color-dark: #c21858;
  --background-color-dark: #1d1d2c;
  --text-color-dark: #f1f1f1;
  --danger-color-dark: #e91663;
}

[data-theme="light"] {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --danger-color: var(--danger-color-light);
}

[data-theme="dark"] {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --danger-color: var(--danger-color-dark);
}

body,
.App {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

.settings-container h1 {
  font-size: 3rem;
  color: var(--primary-color);
  letter-spacing: 2px;
}

.tab-content-card {
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  width: 85%;
  max-width: 600px;
  margin: 20px auto;
}

textarea {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  min-height: 80px;
  transition: border-color 0.3s ease;
}

textarea:focus {
  border-color: lighten(var(--primary-color), 15%);
  outline: none;
}

textarea::placeholder {
  color: var(--text-color);
  opacity: 0.7;
}

button.ant-btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-color);
  margin-top: 10px;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button.ant-btn-primary:hover {
  background-color: lighten(var(--primary-color), 10%);
  border-color: lighten(var(--primary-color), 10%);
  transform: scale(1.05);
}

.ant-tabs-tab {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text-color); /* Define a cor baseada no tema */
  transition: color 0.3s ease; /* Transição suave entre os temas */
}

.ant-tabs-tab:hover {
  color: var(--primary-color); /* Cor de destaque ao passar o mouse */
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--primary-color) !important;
  text-shadow: 0 5px var(--primary-color);
}

.modal-content {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  border-bottom: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.modal-header .btn-close {
  color: var(--text-color);
  opacity: 0.8;
}

.modal-header .btn-close:hover {
  color: var(--danger-color);
  opacity: 1;
}

.modal-body {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.modal-footer .btn {
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
}

.modal-footer .btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: #ffffff;
}

.modal-footer .btn-secondary:hover {
  background-color: var(--secondary-color);
  opacity: 0.9;
}

.modal-footer .btn-danger {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  color: #ffffff;
}

.modal-footer .btn-danger:hover {
  background-color: var(--primary-color);
}

.modal-footer .btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #ffffff;
}

.modal-footer .btn-primary:hover {
  background-color: var(--secondary-color);
  color: #ffffff;
}

@media (max-width: 768px) {
  .settings-card {
    padding: 15px;
  }

  .settings-container h1 {
    font-size: 2.5rem;
  }

  textarea {
    min-height: 60px;
  }

  button.ant-btn-primary {
    padding: 8px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .settings-container h1 {
    font-size: 2rem;
  }

  textarea {
    min-height: 50px;
  }

  button.ant-btn-primary {
    padding: 6px 18px;
    font-size: 0.8rem;
  }
}
